<nav th:fragment="menu" class="menu" sec:authorize="isAuthenticated()">
    <ul class="nav">
        <li sec:authorize="hasAnyRole('ADMIN','SYSTEM','OWNER')">
            <a th:href="@{/backoffice/index-list}">従業員利用者一覧</a>
        </li>
        <li>
            利用者検索
            <ul class="sub-menu">
                <li sec:authorize="hasAnyRole('ADMIN','SUPPORT')">
                    <a th:href="@{/backoffice/search/customer}">顧客</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','SYSTEM','OWNER')">
                    <a th:href="@{/backoffice/search/member}">従業員</a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN','SYSTEM','OWNER','CONTENT')">
            <a th:href="@{/product/backoffice/index}">製品管理</a>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN','SYSTEM')">
            設定
            <ul class="sub-menu">
                <li>
                    <a th:href="@{/setting/tax/index}">税率</a>
                </li>
                <li>
                    <a th:href="@{/setting/discount/index}">セール情報</a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/backoffice/create}">従業員新規登録</a>
        </li>
    </ul>
</nav>