<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head::head('カート登録情報 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/header::header"></header>
    <h3>カート登録情報</h3>
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <!--<form th:method="GET" th:action="@{/payment/card}">-->
    <!--<form th:method="GET">!-->
    <form th:method="GET" th:action="@{/payment/card}">
        <table class="table">
        <thead>
            <tr>
                <th>購入</th><th>商品名</th><th>販売価格(内税)</th><th>個数</th><th>小計</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:unless="${cart} eq null">
                <tr th:each="cartDetail : ${cart.cartDetails}">
                    <div th:with="price=${#numbers.formatDecimal(cartDetail.product.sellingPrice + cartDetail.product.sellingPrice * cartDetail.product.tax.rate, 1, 0)},
                                discountPrice=${price}*${discountRate},
                                discountPrice=${#numbers.formatDecimal(discountPrice, 1, 0)}">
                        <td hidden>[[${cartDetail.id}]]</td>
                        <td>
                            <input type="checkbox" th:name="cartDetailId" th:value="${cartDetail.id}" checked>
                        </td>
                        <td>[[${cartDetail.product.name}]]</td>
                        <td>[[${discountPrice}]]</td>
                        <td>[[${cartDetail.quantity}]]</td>
                        <td>[[${discountPrice} * ${cartDetail.quantity}]]</td>
                    </div>
                </tr>
            </th:block>
        </tbody>
        <tfoot>
            <tr>
                <th class="total">ご注文合計金額</th>
                <tr th:unless="${cart} eq null">
                    <td><span th:text="${totalCartPrice}"></span></td>
                </tr>
                <tr th:if="${cart} eq null or ${#lists.isEmpty(cart.cartDetails)}">
                    <td><span th:text="買い物かごに商品が入っていません"></span></td>
                </tr>
            </tr>
        </tfoot>
        </table>
        <div th:if="${cart} eq null or ${#lists.isEmpty(cart.cartDetails)}">
            <input type="submit" value="購入">
        </div>
    </form>
    <!--<input type="submit" name="purchasing" value="購入" th:formaction="@{/payment/card}" th:object="${cartDetails}">!-->
    <form th:method="GET" th:action="@{/product/shopping/index}">
        <input type="submit" value="買い物を続ける">
    </form>
</body>
</html>