<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>カード情報</h3>
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <table class="table">
        <thead>
            <tr>
                <th>カード番号</th><th>有効期限</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="creditCard:${user.creditCards}">
                <td hidden>[[${creditCard.id}]]</td>
                <td>
                    [[${'  ************ ' + #strings.substring(creditCard.cardNumber, creditCard.cardNumber.length() -4)}]]
                </td>                                
                <td>
                    [[${creditCard.expMonth}]]月 / [[${creditCard.expYear}]]年
                    <span th:if="${#dates.create(creditCard.expYear, creditCard.expMonth+1, 0) lt #dates.createToday()}" class="text-danger">
                        カードの有効期限が切れています
                    </span>
                </td>
                <td>
                    <a th:href="@{/user/profile/credit-card/edit/{creditCardId}/(creditCardId=${creditCard.id},referer='/user/profile/credit-card/info')}">変更</a>
                    <a th:href="@{/user/profile/credit-card/delete/{creditCardId}/(creditCardId=${creditCard.id},referer='/user/profile/credit-card/info')}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="button" th:href="@{/user/credit-card/create}">追加登録</a>
</body>
</html>