<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('製品登録 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
    <h3>製品登録</h3>
    <form method="POST" th:action="@{/product/backoffice/save}" th:object="${product}">
    <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
        <div class="container">
            <label for="code">製品番号</label>
            <input type="text" th:field="*{code}" th:errorclass="bg-warning">
            <span th:errors="*{code}"></span>
        </div>
        <div class="container">
            <label for="name">製品名</label>
            <input type="text" th:field="*{name}" th:errorclass="bg-warning">
            <span th:errors="*{name}"></span>
        </div>
        <div class="container">
            <label for="info">説明</label>
            <input type="text" th:field="*{info}" th:errorclass="bg-warning">
            <span th:errors="*{info}"></span>
        </div>
        <div class="container">
            <label for="unitPrice">単価</label>
            <input type="text" th:field="*{unitPrice}" th:errorclass="bg-warning">
            <span th:errors="*{unitPrice}"></span>
        </div>
        <div class="container">
            <label for="sellingPrice">販売価格</label>
            <input type="text" th:field="*{sellingPrice}" th:errorclass="bg-warning">
            <span th:errors="*{sellingPrice}"></span>
        </div>
        <div class="container">
            <label for="tax">消費税</label>
            <select th:field="*{tax}" id="tax">
                <option th:each="t : ${taxes}" th:value="${t.id}" th:text="${t.rate}"
                    selected="${tax==t.id}">
                </option>
            </select>
        </div>
        <input type="submit" value="登録">
    </form>
</body>
</html>