<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('製品編集 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
    <h3>製品編集</h3>
    <form th:method="patch" th:action="@{/product/backoffice/update/{productId}(productId=${product.id})}" th:object="${product}">
        <div class="container">
            <label for="code">製品番号</label>
            <input type="hidden" id="oldCode" name="oldCode" th:value="*{oldCode}">
            <input type="text" id="code" name="code" th:value="*{code}" th:errorclass="bg-warning">
            <span th:errors="*{code}"></span>
        </div>
        <div class="container">
            <label for="name">製品名</label>
            <input type="text" id="name" name="name" th:value="*{name}" th:errorclass="bg-warning">
            <span th:errors="*{name}"></span>
        </div>
        <div class="container">
            <label for="info">説明</label>
            <input type="text" id="info" name="info" th:value="*{info}" th:errorclass="bg-warning">
            <span th:errors="*{info}"></span>
        </div>
        <div class="container">
            <label for="unitPrice">単価</label>
            <input type="text" id="unitPrice" name="unitPrice" th:value="*{unitPrice}" th:errorclass="bg-warning">
            <span th:errors="*{unitPrice}"></span>
        </div>
        <div class="container">
            <label for="sellingPrice">販売価格</label>
            <input type="text" id="sellingPrice" name="sellingPrice" th:value="*{sellingPrice}" th:errorclass="bg-warning">
            <span th:errors="*{sellingPrice}"></span>
        </div>
        <div class="container">
            <label for="tax">消費税</label>
            <select th:field="*{tax}" id="tax">
                <option th:each="t : ${taxes}" th:value="${t.id}" th:text="${t.rate}"
                    selected="${tax==t.id}">
                </option>
            </select>
        </div>
        <div class="container">
            <label for="discontinuedFlag">廃番</label>
            <select th:field="*{discontinuedFlag}">
                <option value="0">ー</option>
                <option value="1">廃番</option>
            </select>
        </div>
        <input type="submit" value="更新">
    </form>
</body>
</html>