<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('製品削除 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
   <h3>製品削除</h3> 
   <form th:method="delete" th:action="@{/product/backoffice/delete/{productId}(productId=${product.id})}" th:object="${product}">
       <ul>
           <li>ID: [[*{id}]]</li>
           <li>製品番号: [[*{code}]]</li>
           <li>製品名: [[*{name}]]</li>
           <li>説明: [[*{info}]]</li>
           <li>単価: [[*{unitPrice}]]</li>
           <li>販売価格: [[*{sellingPrice}]]</li>
           <li>税率: [[*{tax.rate}]]</li>
           <li>廃番: [[*{discontinuedFlag}]]</li>
       </ul>
       <input type="submit" value="削除">
   </form>
</body>
</html>