<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>パスワード再登録</h3>
    <div th:if="${error}" class="alert alert-danger">[[${error}]]</div>
    <form th:method="patch" th:action="@{/user/profile/password/reset/update}">
        <div class="container">
            <label for="mail"></label>
            <input type="hidden" name="mail" th:value="${mail}">
        </div>
        <div class="container">
            <label for="tokenId"></label>
            <input type="hidden" name="tokenId" th:value="${tokenId}">
        </div>
        <div class="container">
            <label for="password">新しいパスワード</label>
            <input type="password" th:field="${userResetPasswordForm.password}" th:errorclass="bg-warning">
            <span th:errors="${userResetPasswordForm.password}"></span>
        </div>
        <div class="container">
            <label for="password">新しいパスワード（再入力）</label>
            <input type="password" th:field="${userResetPasswordForm.confirmPassword}">
            <span th:errors="${userResetPasswordForm.confirmPassword}"></span>
        </div>
        <input type="submit" value="登録">
    </form>    
</body>
</html>