<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>パスワードリセットメール送信</h3>
    <div th:if="${error}" class="alert alert-danger">[[${error}]]</div>
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>    
    <form th:method="patch" th:action="@{/user/profile/password/reset/accept}" th:object="${userMailForm}">
        <div class="container">
            <label for="mail">ログインID </label>
            <input type="text" th:field="*{mail}" th:errorclass="bg-warning">
            <span th:errors="*{mail}"></span>
        </div>
            <input type="submit" value="送信">
    </form>
    </body>
</html>