<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head::head('会員登録削除 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/header::header"></header>
    <h3>会員登録を削除します</h3>
    <form th:method="patch" th:action="@{/user/user-deleted}" th:object="${userCommonForm}">
        <input type="hidden" th:field="*{lastName}">
        <input type="hidden" th:field="*{firstName}">
        <input type="hidden" th:field="*{mail}">
        <input type="hidden" th:field="*{birthDate}">
        <input type="hidden" th:field="*{deleteFlag}">
        <input type="submit" value="削除する">
    </form>
    
</body>
</html>