<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>会員登録を削除します</h3>
    <form th:method="patch" th:action="@{/user/{id}/profile/user-deleted/(id=${id})}" th:object="${userCommonForm}">
        <input type="hidden" th:field="*{lastName}">
        <input type="hidden" th:field="*{firstName}">
        <input type="hidden" th:field="*{mail}">
        <input type="hidden" th:field="*{birthDate}">
        <input type="hidden" th:field="*{deleteFlag}">
        <input type="submit" value="削除する">
    </form>
    
</body>
</html>