<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <div class="container"> 
        <span class="label">姓：</span>
        <span class="value">[[${user.lastName}]]</span>
    </div>
    <div class="container">
        <span class="label">名：</span>
        <span class="value">[[${user.firstName}]]</span>
    </div>
    <div class="container">
        <span class="label">Email：</span>
        <span class="value">[[${user.mail}]]</span>
    </div>
    <div class="container">
        <span class="label">生年月日：</span>
        <span class="value">[[${user.birthDate}]]</span>
    </div>
    <a th:href="@{/user/profile/main/edit}">基本情報変更</a><br>
    <a th:href="@{/user/profile/password/change}">パスワード変更</a><br>
    <a th:href="@{/user/delete}">退会</a>    
</body>
</html>