<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head::head('会員情報 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/header::header"></header>
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <div class="container"> 
        <span class="label">姓：</span>
        <span class="value">[[${user.lastName}]]</span>
    </div>
    <div class="container">
        <span class="label">名：</span>
        <span class="value">[[${user.firstName}]]</span>
    </div>
    <div class="container">
        <span class="label">Email：</span>
        <span class="value">[[${user.mail}]]</span>
    </div>
    <div class="container">
        <span class="label">生年月日：</span>
        <span class="value">[[${user.birthDate}]]</span>
    </div>
    <a th:href="@{/user/profile/main/edit}">基本情報変更</a><br>
    <a th:href="@{/user/profile/password/change}">パスワード変更</a><br>
    <a th:href="@{/user/delete}">退会</a>    
</body>
</html>