<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/head::head('ログイン | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/header::header"></header>
    <h3>ログイン</h3>
    <div th:fragment="main">
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <div class="alert" th:if="${param.error}">
        ユーザ名/パスワード名が正しくありません
    </div>
    <form th:method="post" th:action="@{/user/login}">
        <div class="container">
            <label for="usr">ログインID</label>
            <input type="text" id="usr" name="usr"><br>
            <label for="passwd">パスワード</label>
            <input type="password" id="passwd" name="passwd"><br>
            <a class="reset-button" th:href="@{/password/reset/request}">パスワードを忘れた方はこちら</a>
        </div>
        <input class="button" type="submit" value="ログイン"><br>
        <a class="button" th:href="@{/user/create}">新規会員登録</a>
    </form>
    </div>
</body>
</html>