<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('顧客登録情報 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
    <h3>顧客登録情報</h3>
    <div th:object="${user}">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th><th>氏名</th><th>生年月日</th><th>mail</th><th>退会</th><th>アカウント登録日</th><th>退会日</th>
            </tr>
        </thead>
        <tbody>
                <td>[[*{id}]]</td>
                <td>[[*{lastName}]]　[[*{firstName}]]</td>
                <td>[[*{birthDate}]]</td>
                <td>[[*{mail}]]</td>
                <td>[[*{deleteFlag}]]</td>
                <td>[[*{createdAt}]]</td>
                <th:block th:if="${user.deleteFlag}==1">
                    <td>[[*{updatedAt}]]</td>
                </th:block>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>