<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('顧客登録情報 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
    <div>
        <a class="" th:href="@{/backoffice/index/authorized-members}">現利用者</a><br>
        <a class="" th:href="@{/backoffice/index/internal-members}">過去利用者含む</a><br>
        <form th:method="GET" th:action="@{/backoffice/extract}">
            <select name="roleType">
                <option th:each="role:${roles}" th:value="${role.roleType}" th:text="${role.roleType}"></option>
            </select>
            <input type="submit" value="検索">
        </form>
    </div>
    <div th:replace="backoffices/index-result::result"></div>
</body>
</html>