<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('利用者検索 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
    <h3>利用者検索</h3>
    <form th:method="post" th:action="@{/backoffice/result/member/list}" th:object="${internalUserSearchForm}" novalidate>
        <div class="container">
            <label for="roleId">権限タイプ</label>
            <select id="roleId" th:field="*{roleId}">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleType}"></option>
            </select>
        </div>
        <div class="container">
            <label for="lastName">姓 (部分一致可)</label>
            <input type="text" th:field="*{lastName}">
            <span th:errors="*{lastName}"></span>
        </div>
        <input type="submit" value="検索">
    </form>
    </div>
</body>
</html>