<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/backoffice-head::head('顧客検索 | ABCD通販サイト')"></head>
<body>
    <header th:replace="layouts/backoffice-header::header"></header>
    <h3>顧客検索</h3>
    <form th:method="post" th:action="@{/backoffice/result/customer/list}" th:object="${endUserSearchForm}" novalidate>
        <div class="container">
            <label for="roleId"></label>
            <input type="hidden" id="roleId" th:field="*{roleId}">
            <!-- <input type="hidden" id="roleId" th:field="*{roleId}" th:value="${role.id}"> -->
        </div>
        <div class="container">
            <label for="lastName">姓</label>
            <input type="text" th:field="*{lastName}">
            <span th:errors="*{lastName}"></span>
        </div>
        <div class="container">
            <label for="lastName">名</label>
            <input type="text" th:field="*{firstName}">
            <span th:errors="*{firstName}"></span>
        </div>
        <input type="submit" value="検索">
    </form>
</body>
</html>