<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>編集</h3>
    <form th:method="patch" th:object="${userAdminForm}">
        <!-- CSRFトークンを明示的に追加 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <ul>
            <li >ID: [[*{id}]]</li>
            <li>氏名:[[*{lastName}]] [[*{firstName}]]</li>
            <li>メールアドレス: [[*{mail}]]</li>
        </ul>
        <th:block th:if="${userAdminForm.deleteFlag}==0">
            <div sec:authorize="hasRole('ADMIN')">
                <th:block th:unless="${endUser}">
                    <input type="submit" value="退職" th:formaction="@{/user/admin/leave/{id}(id=${userAdminForm.id})}">
                </th:block>
                <th:block th:if="${endUser}">
                    <input type="submit" value="退会" th:formaction="@{/user/admin/withdraw/{id}(id=${userAdminForm.id})}">
                </th:block>
            </div>
            <div sec:authorize="hasRole('SYSTEM') and !hasRole('ADMIN')">
                <input type="submit" value="退職" th:formaction="@{/user/admin/leave/{id}(id=${userAdminForm.id})}">
            </div>
        </th:block>

        <th:block th:if="${userAdminForm.deleteFlag}==1">
            <div sec:authorize="hasRole('SYSTEM')">
                <input type="submit" value="再登録" th:formaction="@{/user/admin/re-entry/{id}(id=${userAdminForm.id})}">
            </div>
        </th:block>
    </form>
</body>
</html>