<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>検索結果</h3>
    <div th:object="${user}">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th><th>氏名</th><th>生年月日</th><th>mail</th><th>退会</th><th>アカウント登録日</th><th>退会日</th>
            </tr>
        </thead>
        <tbody>
                <td>[[*{id}]]</td>
                <td>[[*{lastName}]]　[[*{firstName}]]</td>
                <td>[[*{birthDate}]]</td>
                <td>[[*{mail}]]</td>
                <td>[[*{deleteFlag}]]</td>
                <td>[[*{createdAt}]]</td>
                <th:block th:if="${user.deleteFlag}==1">
                    <td>[[*{updatedAt}]]</td>
                </th:block>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>