<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h3>顧客一覧</h3>
    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th><th>氏名</th><th>Email</th><th>生年月日</th><th>保有権限</th><th>状態</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${roleUsers}">
                <td>[[${user.id}]]</td>
                <td>[[${user.lastName}]]　[[${user.firstName}]]</td>
                <td>[[${user.mail}]]</td>
                <td>[[${user.birthDate}]]</td>
                <td>
                    <ul>
                        <li th:each="roleUser : ${user.roleUsers}" th:text="${roleUser.role.roleType}"></li>
                    </ul>
                </td>
                <td>
                    <div th:switch="${user.deleteFlag}">
                        <p th:case="0">Active</p>
                        <p th:case="1">Retirement</p>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/user/admin/edit/{id}(id=${user.id})}">権限編集</a>
                        <a th:href="@{/user/admin/show/{id}(id=${user.id})}">無効化</a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('SYSTEM') and !hasRole('ADMIN')">
                        <a th:href="@{/user/admin/show/{id}(id=${user.id})}">退職</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>